{% extends 'base.html' %}
{% block body %}
{%load static%}
<div class="container text-center">
	<h1 style="text-align: left; padding-bottom: 50px">CHOOSE YOUR BRAND</h1>
<div class="row">
<div class="col-md-2">
	<div class="thumbnail">
		<a href=""><img src='/media/{{Laptop.0.image}}' class="img-responsive img-fluid" ></a>
	</div>
</div>
<div class="col-md-2">
	<div class="thumbnail">
		<a href=""><img src='/media/{{Laptop.1.image}}' class="img-responsive img-fluid"></a>
	</div>
</div>
<div class="col-md-2">
	<div class="thumbnail">
		<a href=""><img src='/media/{{Laptop.2.image}}' class="img-responsive img-fluid"></a>
	</div>
</div>
<div class="col-md-2">
	<div class="thumbnail">
		<a href=""><img src='/media/{{Laptop.3.image}}' class="img-responsive img-fluid"></a>
	</div>
</div>
<div class="col-md-2">
	<div class="thumbnail">
		<a href=""><img src='/media/{{Laptop.4.image}}' class="img-responsive img-fluid" ></a>
	</div>
</div>
<div class="col-md-2">
	<div class="thumbnail">
		<a href=""><img src='/media/{{Laptop.5.image}}' class="img-responsive img-fluid"></a>
	</div>
</div>
<div class="col-sm-1">
	<div class="thumbnail">
		<a href=""><img src='/media/{{Laptop.6.image}}' class="img-responsive img-fluid"></a>
	</div>
</div>
<div class="col-md-2">
	<div class="thumbnail">
		<a href=""><img src='/media/{{Laptop.7.image}}' class="img-responsive img-fluid"></a>
	</div>
</div>
<div class="col-md-2">
	<div class="thumbnail">
		<a href=""><img src='/media/{{Laptop.8.image}}' class="img-responsive img-fluid" ></a>
	</div>
</div>
	<!--
<div class="col-md-2">
	<div class="thumbnail">
		<a href=""><img src='/media/{{Laptop.9.image}}' class="img-responsive img-fluid"></a>
	</div>
</div>

<div class="col-md-2">
	<div class="thumbnail">
		<a href=""><img src='/media/{{Laptop.10.image}}' class="img-responsive img-fluid"></a>
	</div>
</div>
<div class="col-md-2">
	<div class="thumbnail">
		<a href=""><img src='/media/{{Laptop.11.image}}' class="img-responsive img-fluid"></a>
	</div>
</div>
<div class="col-md-2">
	<div class="thumbnail">
		<a href=""><img src='/media/{{Laptop.12.image}}' class="img-responsive img-fluid" ></a>
	</div>
</div>
<div class="col-md-2">
	<div class="thumbnail">
		<a href=""><img src='/media/{{Laptop.13.image}}' class="img-responsive img-fluid"></a>
	</div>
</div>
-->
</div>
</div>
	{% endblock%}