{% extends 'base.html' %}
{% block body %}
{%load static%}
<div class="container text-center">
	<h1 style="text-align: left; padding-bottom: 50px">CHOOSE YOUR BRAND</h1>
<div class="row">
<div class="col-md-2">
	<div class="thumbnail">
		<a href="/apple"><img src='/media/{{Mobile.0.image}}' class="img-responsive img-fluid" ></a>
	</div>
</div>
<div class="col-md-2">
	<div class="thumbnail">
		<a href=""><img src='/media/{{Mobile.1.image}}' class="img-responsive img-fluid"></a>
	</div>
</div>
<div class="col-md-2">
	<div class="thumbnail">
		<a href=""><img src='/media/{{Mobile.2.image}}' class="img-responsive img-fluid"></a>
	</div>
</div>
<div class="col-md-2">
	<div class="thumbnail">
		<a href=""><img src='/media/{{Mobile.3.image}}' class="img-responsive img-fluid"></a>
	</div>
</div>
<div class="col-md-2">
	<div class="thumbnail">
		<a href=""><img src='/media/{{Mobile.4.image}}' class="img-responsive img-fluid" ></a>
	</div>
</div>
<div class="col-md-2">
	<div class="thumbnail">
		<a href=""><img src='/media/{{Mobile.5.image}}' class="img-responsive img-fluid"></a>
	</div>
</div>
<div class="col-sm-1">
	<div class="thumbnail">
		<a href=""><img src='/media/{{Mobile.6.image}}' class="img-responsive img-fluid"></a>
	</div>
</div>
<div class="col-md-2">
	<div class="thumbnail">
		<a href=""><img src='/media/{{Mobile.7.image}}' class="img-responsive img-fluid"></a>
	</div>
</div>
<div class="col-md-2">
	<div class="thumbnail">
		<a href=""><img src='/media/{{Mobile.8.image}}' class="img-responsive img-fluid" ></a>
	</div>
</div>
<div class="col-md-2">
	<div class="thumbnail">
		<a href=""><img src='/media/{{Mobile.9.image}}' class="img-responsive img-fluid"></a>
	</div>
</div>
<div class="col-md-2">
	<div class="thumbnail">
		<a href=""><img src='/media/{{Mobile.10.image}}' class="img-responsive img-fluid"></a>
	</div>
</div>
<div class="col-md-2">
	<div class="thumbnail">
		<a href=""><img src='/media/{{Mobile.11.image}}' class="img-responsive img-fluid"></a>
	</div>
</div>
<div class="col-md-2">
	<div class="thumbnail">
		<a href=""><img src='/media/{{Mobile.12.image}}' class="img-responsive img-fluid" ></a>
	</div>
</div>
<div class="col-md-2">
	<div class="thumbnail">
		<a href=""><img src='/media/{{Mobile.13.image}}' class="img-responsive img-fluid"></a>
	</div>
</div>
</div>
</div>
	{% endblock%}